<!DOCTYPE html>
<html>

<head>

<title>Stock Portfolio Tracker</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2>Stock Portfolio Tracker</h2>

<input type="text"
id="stock"
placeholder="Stock Name">

<br><br>

<input type="number"
id="quantity"
placeholder="Quantity">

<br><br>

<input type="number"
id="price"
placeholder="Price">

<br><br>

<button onclick="saveStock()">

Add Stock

</button>

<script>

function saveStock(){

let stockData={

stock:document.getElementById("stock").value,

quantity:document.getElementById("quantity").value,

price:document.getElementById("price").value

};

fetch("/add",{

method:"POST",

headers:{

"Content-Type":"application/json"

},

body:JSON.stringify(stockData)

})

.then(response=>response.json())

.then(data=>{

alert(data.message);

})

.catch(error=>{

console.log(error);

});

}

</script>

</body>

</html>